.link {
    color: $link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &-dark {
        color: $dark;
        transition: .15s color;
        
        &:hover {
            color: $dark-light;
            text-decoration: none;
        }
    }
}