.input {
    color: $dark;
    font-size: 1rem;

    border-radius: 20.5px;
    border: 0;
    box-shadow: 0 0 0 3px $secondary inset;
    
    padding: 11px 16px;
    width: 100%;
    min-width: 100%;
    
    outline: none;
    transition: .15s box-shadow;
  
    &:focus {
        box-shadow: 0 0 0 3px $primary inset;
    }

    &-group {
        display: flex;

        & > .input:not(:last-child) {
            margin-right: 10px;
        }
    }

    &--hide {
        display: none;
    }

    &-search {
        margin-bottom: 15px;
    }
}

select.input {
    padding: 10px 16px;

    -webkit-appearance: none;
    appearance: none;

    cursor: pointer;
}

.checkbox {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;

    width: 23px;
    height: 23px;
    margin: 0 7px 0 4px;

    border: 3px solid $secondary;
    border-radius: 50px;
    background-color: $light;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: .15s border-color;

    &::after {
        content: "";

        width: 13px;
        height: 13px;
        
        background-color: $primary;
        border-radius: 50px;

        transform: scale(0);
        transition: .15s transform;

        pointer-events: none;
    }

    &:checked {
        border-color: $primary;

        &::after {
            transform: scale(1);
        }
    }

    & + .label {
        cursor: pointer;
    }
}