<form action="CreateUser" class="form">
    <h1 class="title">Створити користувача</h1>
    <input type="text" class="input" placeholder="почта">
    <input type="text" class="input" placeholder="ім'я користувача">
    <input type="text" class="input" placeholder="пароль">
    <input type="text" class="input" placeholder="повторіть пароль">
    <select class="input">
        <option value="">роль</option>
        <option value="">адміністратор</option>
        <option value="">модераторо</option>
        <option value="">користувач</option>
    </select>
    <button class="btn btn-primary">створити</button>

    <div class="form__error">якась помилка при створенні користувача</div>
</form>