<form action="Registration" class="form">
    <h1 class="title">Реєстрація</h1>
    <input type="text" class="input" placeholder="почта">
    <input type="text" class="input" placeholder="ім’я користувача">
    <input type="text" class="input" placeholder="пароль">
    <input type="text" class="input" placeholder="повторіть пароль">
    <div class="input-group">
        <input type="checkbox" class="checkbox" id="rememberMe">
        <label class="label" for="rememberMe">запам'ятати мене</label>
    </div>
    <button class="btn btn-primary">зареєструватись</button>

    <div class="form__error">якась помилка при реєстрації</div>
</form>