<form action="Add" class="form">
    <h1 class="title">Новий розклад</h1>
    <input type="text" class="input" placeholder="назва">
    <textarea rows="5" class="input" placeholder="опис"></textarea>
    <button class="btn btn-primary">створити</button>

    <div class="form__error">якась помилка при створенні розкладу</div>
</form>