@import "colors";
@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    color: $dark;

    font-family: "Montserrat";
}